body{
    color: rgb(18, 241, 36);
    background: rgb(11, 178, 230);
}
.heading{
    widows: 80%;
    font-size: 22px;
}
.name_of_objects,#result_object_name,#result_object_accuracy{
    color: rgb(243, 183, 17);
}
#camera{
border: 2px dashed rgb(25, 29, 243);
width: 350px;
height: 300px;
}